In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
salarydata_train = pd.read_csv("E:/DataScience/Assignments/Support Vector Machine/SalaryData_train.csv")

In [3]:
dummies=pd.get_dummies(salarydata_train[['workclass','education','maritalstatus','occupation','relationship','race','sex','native']])

In [4]:
dummies

,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,education_ 10th,education_ 11th,education_ 12th,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30157,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30158,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30159,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30160,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [5]:
salarydata_train = salarydata_train.drop(columns=["workclass","education","maritalstatus","occupation","relationship","race","sex","native"])

In [6]:
salarydata_train = pd.concat([dummies,salarydata_train], axis=1)

In [7]:
salarydata_train

,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,education_ 10th,education_ 11th,education_ 12th,...,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia,age,educationno,capitalgain,capitalloss,hoursperweek,Salary
0,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,39,13,2174,0,40,<=50K
1,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,50,13,0,0,13,<=50K
2,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,38,9,0,0,40,<=50K
3,0,0,1,0,0,0,0,0,1,0,...,0,1,0,0,53,7,0,0,40,<=50K
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,28,13,0,0,40,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,27,12,0,0,38,<=50K
30157,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,40,9,0,0,40,>50K
30158,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,58,9,0,0,40,<=50K
30159,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,22,9,0,0,20,<=50K
30160,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,52,9,15024,0,40,>50K

In [8]:
salarydata_train.isna().sum()

workclass_ Federal-gov         0
workclass_ Local-gov           0
workclass_ Private             0
workclass_ Self-emp-inc        0
workclass_ Self-emp-not-inc    0
                              ..
educationno                    0
capitalgain                    0
capitalloss                    0
hoursperweek                   0
Salary                         0
Length: 103, dtype: int64

In [9]:
salarydata_train.isna().sum()

workclass_ Federal-gov         0
workclass_ Local-gov           0
workclass_ Private             0
workclass_ Self-emp-inc        0
workclass_ Self-emp-not-inc    0
                              ..
educationno                    0
capitalgain                    0
capitalloss                    0
hoursperweek                   0
Salary                         0
Length: 103, dtype: int64

In [10]:
salarydata_train=salarydata_train.dropna()

In [11]:
salarydata_train.shape

(30161, 103)

In [13]:
array = salarydata_train.values
X = array[:,:102]
Y = array[:,102]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3)

In [15]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((21112, 102), (21112,), (9049, 102), (9049,))

In [ ]:
clf = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[50,5,10,0.5],'C':[15,14,13,12,11,10,0.1,0.001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X_train,y_train)